NODE_ENV=development
PORT=5000
MONGO_URI=
GEOCODER_API_KEY=
GEOCODE_PROVIDER=mapquest
MAX_FILE_SIZE=10MB
MAX_IMAGE_SIZE=4MB
FILE_UPLOAD_PATH=./public/uploads/
JWT_SECRET_KEY=pRy09EENcUh4343MRKXi9D423w65AQ
JWT_TOKEN_EXPIRATION=30d
